/* contact-3rdここから */
.contact-2nd {
  background-color: #B5E9EE;
  max-width: 1366px;
  height: 437px;
}

.contact-2nd h3 {
  text-align: center;
  font-size: 48px;
  color: #0097A7;
  line-height: 1.2;
  font-family: 'Noto Serif JP';
  font-weight: 700;
}

.contact-2nd .text {
  font-size: 24.03px;
  color: #000000;
  line-height: 1.2;
}

.contact-2nd .far {
  text-shadow: 0px 3px 0px #2020204C;
  padding-right: 23px;
  padding-bottom: 25px;
}

.contact-2nd .check {
  margin-left: 470px;
  margin-top: 54px;
  font-family: 'Noto Sans JP';
  font-weight: 300;
  font-size: 24px;
  color: #000000;
  line-height: 1.2;
}

.contact-2nd .cv-button {
  display: block;
  text-align: center;
  margin: 33px auto 0;
  background-color: #0097A7;
  box-shadow: 10px 10px #2020204F;
  border-radius: 15px;
  font-family: 'Noto Sans JP';
  width: 558px;
  height: 78px;
  font-size: 32px;
  color: #FEFEFE;
  font-weight: 700;
  line-height: 1.2;
  padding: 17px 0 0 50px;
}

.contact-2nd .cv-button .far {
  color: #FEFEFE;
}
/* contact-3rdここまで */