/*contact-threeここから */
#contact-three {
  background-color: #B5E9EE;
  height: calc(437 / 1366 * 100vw);

  @media (max-width: 767px) {
    width: calc(375 / 375 * 100vw);
    height: calc(414 / 375 * 100vw);
  }
}

#contact-three h3 {
  text-align: center;
  font-size: 3.513909224vw;
  color: #0097A7;
  font-family: "Noto Serif JP";
  font-weight: 700;
  padding-top: 3.4vw;

  @media (max-width: 767px) {
    font-size: 9vw;
    padding-top: 11vw;
  }
}

#contact-three .text {
  font-size: calc(24 / 1366 * 100vw);
  color: #000000;
  margin: 0;

  @media (max-width: 767px) {
    font-size: 4.8vw;
    position: relative;
    line-height: 1.5;
    margin: 3vw 0 0vw 4vw;
  }
}

#contact-three .fa-square {
  text-shadow: calc(2/ 1366 * 100vw)calc(2 / 1366 * 100vw)calc(2 / 1366 * 100vw) #2020204C;
  padding-right: calc(23 / 1366 * 100vw);
  padding-bottom: calc(25/ 1366 * 100vw);

  @media (max-width: 767px) {
    font-size: calc(18.03 / 375 * 100vw);
    color: #000000;
    line-height: 1.2;
    text-shadow: calc(0 / 375 * 100vw) calc(3.01 / 375 * 100vw) calc(0 / 375 * 100vw) #2020204C;
    margin-right: 4vw;
  }
}


#contact-three .check {
  margin-left: calc(470 / 1366 * 100vw);
  margin-top: calc(54 / 1366 * 100vw);
  font-weight: 300;
  font-size: calc(24 / 1366 * 100vw);
  color: #000000;

  @media (max-width: 767px) {
    font-size: calc(20 / 375 * 100vw);
    color: #FEFEFE;
    font-weight: 400;
    line-height: 1.2;
    margin: 15vw 0 15vw 7vw;
  }
}

#contact-three .cv-button {
  display: block;
  text-align: center;
  margin: 2.4158125915vw auto 0;
  background-color: #0097A7;
  box-shadow: .7vw .7vw rgba(32, 32, 32, 0.3);
  border-radius: 1vw;
  width: 40vw;
  height: 5.710102489vw;
  font-size: 2.2vw;
  color: #FEFEFE;
  font-weight: 500;
  letter-spacing: 2.6px;
  padding: 1.2vw 0 0 0vw;

  @media (max-width: 767px) {
    border-radius: 4vw;
    box-shadow: 1vw 1vw 1vw 1vw rgba(32, 32, 32, 0.3);
    width: 90.6vw;
    height: 12.7vw;
    margin: 0 auto;
    font-size: 5.3vw;
    line-height: 1.2;
    padding-top: 3vw;
  }
}

#contact-three .cv-button .fa-greater-than {
  font-family: FontAwesome;
  color: #FEFEFE;
  font-size: 27px;
  margin-left: 5px;

  @media (max-width: 767px) {
    font-size: calc(20.21 / 375 * 100vw);
  }
}

/* contact-threeここまで */