/* coverここから */
.cover {
  padding: 0;
  position: relative;

  @media (max-width: 767px) {
    height: calc(640/ 375 * 100vw);
    ;
    width: 100%;
  }
}

#cover-caption-pc {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
  padding: 0vw 1.2vw 5.1vw 8vw;
  font-family: "Noto Serif JP";
  font-weight: 400;
  font-size: 2.6vw;
  color: #000000;
  line-height: 1.7;
  font-weight: 400;
  z-index: 10;
}

@media (min-width: 767px) {
  #cover-caption-pc {
    display: none;
  }
}

#cover-caption-sp {
  font-family: "Noto Serif JP";
  font-size: 5vw;
  text-align: center;
  padding-top: 5vw;
  line-height: 1.6;
  margin-bottom: 3vw;
}

#cover-caption-sp .cv-button {
  display: inline-block;
  width: 58vw;
  height: 12vw;
  font-family: noto-sans-jp;
  background-color: #0097A7;
  color: #FEFEFE;
  border-radius: 4vw;
  font-weight: 600;
  margin: 7vw auto;
  font-size: 18px;
  line-height: 1.2;
  padding: 3vw 2vw 1vw 2vw;
}


#cover-caption-sp .cv-button .fa-greater-than {
  font-family: FontAwesome;
  color: #FEFEFE;
  margin-left: 3px;
  font-weight: 100;
  width: calc(16 / 375 * 100vw);
}

.css-carousel-slider {
  width: 100%;
  overflow: hidden;
  position: relative;
}

@media (max-width: 767px) {
  .css-carousel-slider {
    top: 60px;
  }
}

.css-carousel-slider img {
  max-width: 1366px;
  height: 768px;
  vertical-align: top;
}

@media (max-width: 767px) {
  .css-carousel-slider img {
    height: 100vw;
  }
}

/* スライド設定 */
.css-carousel-slider .slide-wrap {
  width: 300%;
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  z-index: 0;
  -webkit-animation: css-carousel-slider 30s infinite;
  animation: css-carousel-slider 30s infinite;
  /* スライダーアニメーション全体の時間(*3) */
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
}

.css-carousel-slider .slide-wrap-main {
  width: 100%;
  z-index: 1;
  -webkit-animation: css-carousel-slider-main 30s infinite;
  animation: css-carousel-slider-main 30s infinite;
  /* (*3)と同じ内容を設定 */
  -webkit-animation-delay: 5s;
  animation-delay: 5s;
  /* (*4)と同じ内容を設定 */
}

.css-carousel-slider .slide {
  width: 100%;
}

@media (max-width: 767px) {
  .display-pc {
    display: none;
  }
}

@media (min-width: 767px) {
  .display-sp {
    display: none;
  }
}

/* スライダーアニメーションの設定(*5) */
@-webkit-keyframes css-carousel-slider {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-33.3333333333%);
  }

  33% {
    transform: translateX(-33.3333333333%);
  }

  58% {
    transform: translateX(-66.6666666667%);
  }

  66% {
    transform: translateX(-66.6666666667%);
  }

  92% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@keyframes css-carousel-slider {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(-33.3333333333%);
  }

  33% {
    transform: translateX(-33.3333333333%);
  }

  58% {
    transform: translateX(-66.6666666667%);
  }

  66% {
    transform: translateX(-66.6666666667%);
  }

  92% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(-100%);
  }
}

@-webkit-keyframes css-carousel-slider-main {
  0% {
    transform: translateX(100%);
  }

  66% {
    transform: translateX(100%);
  }

  92% {
    transform: translateX(0%);
  }
}

@keyframes css-carousel-slider-main {
  0% {
    transform: translateX(100%);
  }

  66% {
    transform: translateX(100%);
  }

  92% {
    transform: translateX(0%);
  }
}

/* coverここまで */