/* featureここから */
.feature h3 {
  text-align: center;
  font-size: calc(48 / 1366 * 100vw);
  color: #0097A7;
  line-height: 1.2;
  font-family: 'Noto Serif JP';
  font-weight: 700;
  padding-top: calc(50 / 1366 * 100vw);

  @media (max-width: 767px) {
    font-size: calc(34 / 375 * 100vw);
    color: #0097A7;
    font-weight: bold;
    line-height: 1.2;
    padding-top: 15vw;
    height: calc(120 / 375 * 100vw);
  }
}

/* counselingここから */
.counseling {
  height: calc(470 / 1366 * 100vw);
  text-align: center;
  margin-top: calc(42 / 1366 * 100vw);

  @media (max-width: 767px) {
    height: calc(630 / 375 * 100vw);
  }
}

.counseling .sub-title h4 {
  font-size: calc(48 / 1366 * 100vw);
  color: #606060;
  line-height: 1.2;
  font-family: 'Noto Serif JP';
  font-weight: 400;
  padding: 0;

  @media (max-width: 767px) {
    font-size: calc(47.98 / 375 * 100vw);
    padding-top: 2vw;
  }
}

.counseling .sub-title .sub-title-text {
  font-size: calc(36 / 1366 * 100vw);
  color: #606060;
  line-height: 1;
  font-family: 'Noto Serif JP';
  font-weight: 400;
  margin-top: calc(20 / 1366 * 100vw);
  margin-top: 1.6vw;

  @media (max-width: 767px) {
    font-size: calc(31.99 / 375 * 100vw);
    margin-top: 6vw;
    line-height: 1.2;
  }
}

.table-wrapper {
  display: flex;
  justify-content: center;
  margin-top: calc(30 / 1366 * 100vw);
}

.table-box {
  border-collapse: separate;
  border-spacing: calc(10 / 1366 * 100vw);
  margin: 0;
  border-spacing: 1.5vw;

  @media (max-width: 767px) {
    margin-top: 5vw;
    border-spacing: 2.5vw;
  }
}


.table-head {
  border: none;
  border-radius: calc(10 / 1366 * 100vw) calc(10 / 1366 * 100vw) 0 0;
  background-color: #0097A7;
  width: calc(950 / 1366 * 100vw);
  height: calc(56 / 1366 * 100vw);
  font-size: calc(32 / 1366 * 100vw);
  color: #FFFFFF;
  line-height: 1.2;
  font-weight: 400;
  padding: 0;

  @media (max-width: 767px) {
    width: calc(346 / 375 * 100vw);
    height: 8vw;
    border-radius: 5vw 5vw 0 0;
    font-size: calc(18 / 375 * 100vw);
    padding-bottom: 4vw;
  }
}

.row-head {
  border: none;
  background-color: #DDDDDD;
  width: calc(274 / 1366 * 100vw);
  height: calc(72 / 1366 * 100vw);
  text-align: center;
  font-size: calc(24 / 1366 * 100vw);
  color: #000000;
  line-height: 1.2;

  @media (max-width: 767px) {
    height: calc(107 / 375 * 100vw);
    font-size: calc(12 / 375 * 100vw);
  }
}

.row-head-bottom {
  border: none;
  background-color: #DDDDDD;
  width: calc(274 / 1366 * 100vw);
  height: calc(72 / 1366 * 100vw);
  border-radius: 0 0 0 calc(10 / 1366 * 100vw);
  text-align: center;
  font-size: calc(24 / 1366 * 100vw);
  color: #000000;

  @media (max-width: 767px) {
    width: calc(101 / 375 * 100vw);
    border-radius: 0 0 0 5vw;
    font-size: calc(12 / 375 * 100vw);
  }
}

.table-date {
  border: none;
  background-color: #EEEEEE;
  width: calc(666 / 1366 * 100vw);
  height: calc(72 / 1366 * 100vw);
  text-align: left;
  padding: 0 0 0 calc(29 / 1366 * 100vw);
  line-height: 1.8;
  width: calc(235 / 375 * 100vw);
  height: calc(106 / 375 * 100vw);

  @media (max-width: 767px) {
    font-size: 3.2vw;
    line-height: 1.5;
    padding: 7.1vw 7vw 4.4vw 9vw;
  }
}

/* TODO テーブルのカンプずれ大きい */

.table-date-bottom {
  border: none;
  background-color: #EEEEEE;
  width: calc(666 / 1366 * 100vw);
  height: calc(72 / 1366 * 100vw);
  text-align: left;
  padding: 0 0 0 calc(29 / 1366 * 100vw);
  line-height: 1.8;
  border-radius: 0 0 calc(10 / 1366 * 100vw) 0;

  @media (max-width: 767px) {
    width: calc(101 / 375 * 100vw);
    font-size: calc(12 / 375 * 100vw);
    padding: 6vw;
    border-radius: 0 0 5vw 0;
    padding: 3vw 7vw 2vw 9vw;
  }
}

/* counselingここまで */