/* headerここから */
/* TODO:リンク先設定すること */
/* ヘッダー固定に戻すこと */
.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  opacity: 0.702;

  @media (max-width: 767px) {
    height: calc(60 / 375 * 100vw);
    background-color: #ffffff;
    opacity: 1.0;
  }
}

.header-site-menu {
  margin-left: 32vw;

  @media (max-width: 767px) {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    color: #000;
    padding: 15px 0 15px 0;
    background-color: rgba(255, 255, 255, 0.7);
    line-height: 2.2;
    margin-left: 0;
  }
}


.header-inner {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  @media (max-width: 767px) {
    height: 100%;
    position: relative;
  }
}


.header-inner .toggle-menu-button {
  color: #606060;
  font-size: 8.5vw;
  margin-left: 16.6vw;
}

.header-logo {
  display: block;
  margin-top: -0.9vw;

  @media (max-width: 767px) {
    width: calc(255 / 375 * 100vw);
    height: calc(23 / 375 * 100vw);
    margin: 0;
  }
}

.site-menu ul {
  display: flex;

  @media (max-width: 767px) {
    display: block;
    text-align: left;
  }
}

/* TODO:テキストの色＃０００に変更　　画面縮小でレイアウト崩れ発生する */
.site-menu ul li a {
  font-weight: 400;
  font-size: calc(16 / 1366 * 100vw);
  color: #606060;
  line-height: 1.2;
  border-width: 2px;
  border-style: solid;
  background-color: #FFFFFF;
  padding: 5px 15px;
  margin-right: 8px;

  @media (max-width: 767px) {
    font-size: calc(16 / 375 * 100vw);
    color: #000000;
    line-height: 1.5;
    border: none;
    background-color: rgba(255, 255, 255, 0);
  }

}

.header .nav-top-button {
  border-radius: 15px;
  background-color: #0097A7;
  width: calc(192 / 1366 * 100vw);
  color: #FEFEFE;
  font-weight: 700;
  text-align: center;
  padding-top: 9px;
  font-size: 1.2vw;

  @media (max-width: 767px) {
    display: none;
  }
}

.header .nav-top-button .far {
  font-family: FontAwesome;
  color: #FEFEFE;
  margin-left: 3px;
}

@media (max-width: 767px) {
  .header-site-menu.is-show {
    display: block;
  }

  .toggle-menu-button {
    display: block;
  }
}

/* headerここまで */