/* headerここから */
.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 767px) {
  .header {
    height: 16vw;
    background-color: #FFFFFF
  }
}

.header-site-menu {
  margin-right: 7vw;
}

@media (max-width: 767px) {
  .header-site-menu {
    position: absolute;
    width: 100%;
    top: 100%;
    left: 0;
    right: 0;
    color: #000;
    padding: 15px 0 15px 0;
    background-color: rgba(255, 255, 255, 0.7);
    line-height: 2.2;
    margin-left: 0;
    display: none;
  }
}

.header-inner {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .header-inner {
    height: 100%;
    position: relative;
  }
}

@media (min-width: 767px) {
  #cover-caption-sp {
    display: none;
  }
}

@media (max-width: 767px) {
  #cover-caption-pc {
    display: none;
  }
}

#toggle-menu-button {
  color: #606060;
  font-size: 8.5vw;
  margin-right: 4vw;
}

@media (min-width: 768px) {
  #toggle-menu-button {
    display: none;
  }
}

.header-logo {
  display: block;
  margin-left: 8vw;
  width: calc(208 / 1366 * 100vw);
}

@media (max-width: 767px) {
  .header-logo {
    width: 68vw;
    height: 6.1333333333vw;
    margin-left: 4vw;
  }
}

.site-menu ul {
  display: flex;
}

@media (max-width: 767px) {
  .site-menu ul {
    display: block;
    text-align: left;
  }
}

.site-menu ul li a {
  font-weight: 400;
  font-size: 1.1713030747vw;
  color: #606060;
  line-height: 1.2;
  border-width: 2px;
  border-style: solid;
  background-color: #FFFFFF;
  padding: 5px 15px;
  margin-right: 8px;
}

@media (max-width: 767px) {
  .site-menu ul li a {
    font-size: 4.2666666667vw;
    color: #000000;
    line-height: 1.5;
    border: none;
    background-color: rgba(255, 255, 255, 0);
  }
}

.header .nav-top-button {
  border-radius: 15px;
  background-color: #0097A7;
  width: 14.055636896vw;
  color: #FEFEFE;
  font-weight: 700;
  text-align: center;
  padding-top: 9px;
  font-size: 1.2vw;
  border-color: #0097A7;
}

@media (max-width: 767px) {
  .header .nav-top-button {
    display: none;
  }
}

.header .nav-top-button .far {
  font-family: FontAwesome;
  color: #FEFEFE;
  margin-left: 3px;
}

@media (max-width: 767px) {
  .is-show {
    display: block;
  }

  #toggle-menu-button {
    display: block;

  }
}

/* headerここまで */