ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
::before ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Noto Sans JP';
  font-size: calc(16 / 1366 * 100vw);
  font-weight: 400;
  color: #000000;
  line-height: 1.2;
  background-color: #ffffff;
}


img {
  width: 100%;
  height: auto;
}


.flex {
  display: flex;
}

.no-pc {
  display: none;
}

.marker {
  background: linear-gradient(#ffffff 20%, #B5E9EE 10%, #B5E9EE 85%, #ffffff 35%)
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}