/* shopここから */
.shop {
  text-align: center;
  margin-top: calc(42 / 1366 * 100vw);
  height: calc(550 / 1366 * 100vw);
  margin: 0;

  @media (max-width: 767px) {
    margin-top: -3vw;
    height: calc(800 / 375 * 100vw);
  }
}

.shop .sub-title h4 {
  font-size: calc(48 / 1366 * 100vw);
  color: #606060;
  font-family: 'Noto Serif JP';
  font-weight: 400;

  @media (max-width: 767px) {
    font-size: calc(48 / 375 * 100vw);
  }
}

.shop .sub-title-text {
  font-size: calc(36 / 1366 * 100vw);
  color: #606060;
  line-height: 1;
  font-family: 'Noto Serif JP';
  font-weight: 400;
  padding-top: calc(18 / 1366 * 100vw);

  @media (max-width: 767px) {
    font-size: calc(32 / 375 * 100vw);
    padding-top: 6vw;
    padding-bottom: 6vw;
    line-height: 1.2;
  }
}

.shop-box {
  justify-content: center;
  column-gap: calc(30 / 1366 * 100vw);
  height: calc(370 / 1366 * 100vw);
  margin-top: calc(43 / 1366 * 100vw);

  @media (max-width: 767px) {
    display: block;
    margin-top: 4vw;
  }
}

.shop-box img {
  width: calc(461/ 1366 * 100vw);
  height: calc(257 / 1366 * 100vw);

  @media (max-width: 767px) {
    width: calc(347 / 375 * 100vw);
    height: 53vw
  }
}

/* TODO 画像のテキストずれ */
.shop-small-box-text {
  width: calc(465 / 1366 * 100vw);
  padding: calc(9/ 1366 * 100vw)calc(26/ 1366 * 100vw)calc(26/ 1366 * 100vw)calc(29/ 1366 * 100vw);
  color: #000000;
  line-height: 1.7;
  text-align: left;
  margin: 0;

  @media (max-width: 767px) {
    font-size: 3.2vw;
    padding: 0;
    width: 84vw;
    margin: 4vw 10vw 5vw 9vw;
  }
}

/* shopここまで */

/* 画像のふわっと表現 */
.scroll_up {
  transition: 3s ease-in-out;
  transform: translateY(30px);
  opacity: 0;
}

.scroll_up.on {
  transform: translateY(0);
  opacity: 1.0;
}

/* 画像のふわっと表現 */