/* time-tableここから */
.time-table {
  text-align: center;
  height: calc(200 / 1366 * 100vw);
  margin-top: calc(13 / 1366 * 100vw);
  margin-bottom: calc(60 / 1366 * 100vw);

  @media (max-width: 767px) {
    height: calc(220/ 375 * 100vw);
    margin: 0 auto;
  }
}

.time-table-address {
  font-size: calc(24 / 1366 * 100vw);
  text-align: center;
  padding-left: calc(32 / 1366 * 100vw);

  @media (max-width: 767px) {
    font-size: calc(18 / 375 * 100vw);
    line-height: 1.5;
  }
}

.biz-hour {
  width: calc(950 / 1366 * 100vw);
  height: calc(101 / 1366 * 100vw);
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: calc(26/ 1366 * 100vw);

  @media (max-width: 767px) {
    width: calc(345 / 375 * 100vw);
    height: 18vw;
    margin-top: 7vw;
  }
}

.biz-hour td {
  font-size: calc(24 / 1366 * 100vw);
  padding: calc(7/ 1366 * 100vw);
  text-align: center;
  border-bottom: 2px solid #606060;

  @media (max-width: 767px) {
    font-size: calc(11.94 / 375 * 100vw);
  }
}

.biz .th1 {
  padding-left: calc(30 / 1366 * 100vw);
}

.biz-hour th {
  font-weight: normal;
  background-color: #0097A7;
  width: calc(950 / 1366 * 100vw);
  height: calc(40 / 1366 * 100vw);
  font-size: calc(24 / 1366 * 100vw);
  color: #FFFFFF;

  @media (max-width: 767px) {
    font-size: calc(11.94 / 375 * 100vw);
    height: 6vw;
  }
}


/* time-tableここまで */