html {
  font-size: 62.5%;
}

body {
  font-family: "Noto Sans JP", sans-serif;
  line-height: 1.2;
  color: #000;
}

a {
  color: #000;
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: bottom;
}

li {
  list-style: none;
}

.flex {
  display: flex;
  justify-content: space-between;
}

.no-sp {
  display: block;
}

.no-pc {
  display: none;
}

.container {
  padding: 0 1.6rem;
  overflow: hidden;
  position: relative;
}

.contents-width {
  width: 100%;
  padding: 0 1.6rem;
  margin: 0 auto;

  @media screen and (max-width: 767px) {
    padding: 0;
  }
}