@charset "UTF-8";
ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
::before ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Noto Sans JP";
  font-size: 1.1713030747vw;
  font-weight: 400;
  color: #000000;
  line-height: 1.2;
  background-color: #ffffff;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.flex {
  display: flex;
}

.marker {
  background: linear-gradient(#ffffff 20%, #B5E9EE 10%, #B5E9EE 85%, #ffffff 35%);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

@media (min-width: 768px) {
  .display-none-pc {
    display: none;
  }
}
/* headerここから */
/* TODO:リンク先設定すること */
/* ヘッダー固定に戻すこと */
.header {
  position: fixed;
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.5);
}

@media (max-width: 767px) {
  .header {
    height: 16vw;
    background-color: rgba(255, 255, 255, 0.5);
  }
}
.header-site-menu {
  margin-right: 7vw;
}

@media (max-width: 767px) {
  .header-site-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    color: #000;
    padding: 15px 0 15px 0;
    background-color: rgba(255, 255, 255, 0.7);
    line-height: 2.2;
    margin-left: 0;
    display: none;
  }
}
.header-inner {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@media (max-width: 767px) {
  .header-inner {
    height: 100%;
    position: relative;
  }
}
@media (min-width: 767px) {
  #cover-caption-sp {
    display: none;
  }
}
@media (max-width: 767px) {
  #cover-caption-pc {
    display: none;
  }
}
#toggle-menu-button {
  color: #606060;
  font-size: 8.5vw;
  margin-right: 6vw;
}

@media (min-width: 768px) {
  #toggle-menu-button {
    display: none;
  }
}
.header-logo {
  display: block;
  margin-left: 8vw;
  width: 15.2269399707vw;
}

@media (max-width: 767px) {
  .header-logo {
    width: 68vw;
    height: 6.1333333333vw;
    margin-left: 4vw;
  }
}
.site-menu ul {
  display: flex;
}

@media (max-width: 767px) {
  .site-menu ul {
    display: block;
    text-align: left;
  }
}
/* TODO:テキストの色＃０００に変更　　画面縮小でレイアウト崩れ発生する */
.site-menu ul li a {
  font-weight: 400;
  font-size: 1.1713030747vw;
  color: #606060;
  line-height: 1.2;
  border-width: 2px;
  border-style: solid;
  background-color: #FFFFFF;
  padding: 5px 15px;
  margin-right: 8px;
}

@media (max-width: 767px) {
  .site-menu ul li a {
    font-size: 4.2666666667vw;
    color: #000000;
    line-height: 1.5;
    border: none;
    background-color: rgba(255, 255, 255, 0);
  }
}
.header .nav-top-button {
  border-radius: 15px;
  background-color: #0097A7;
  width: 14.055636896vw;
  color: #FEFEFE;
  font-weight: 700;
  text-align: center;
  padding-top: 9px;
  font-size: 1.2vw;
  border-color: #0097A7;
}

@media (max-width: 767px) {
  .header .nav-top-button {
    display: none;
  }
}
.header .nav-top-button .far {
  font-family: FontAwesome;
  color: #FEFEFE;
  margin-left: 3px;
}

@media (max-width: 767px) {
  .is-show {
    display: block;
  }
  #toggle-menu-button {
    display: block;
  }
}
/* headerここまで */
/* coverここから */
.cover {
  padding: 0;
  position: relative;
}
@media (max-width: 767px) {
  .cover {
    height: 100vw;
  }
}

.cover h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0vw 1.2445095168vw 5.1244509517vw 8.0527086384vw;
  font-family: "Noto Serif JP";
  font-weight: 400;
  font-size: 2.635431918vw;
  color: #000000;
  line-height: 1.7;
  font-weight: 400;
  z-index: 10;
}

@media (min-width: 767px) {
  #cover-caption-pc {
    display: none;
  }
}
@media (max-width: 767px) {
  #cover-caption-sp {
    font-family: "Noto Serif JP";
    font-size: 5vw;
    text-align: center;
    padding-top: 22vw;
    line-height: 1.6;
    margin-bottom: 3vw;
  }
}
/* グレーの線を引く */
#cover-caption-sp .cv-button {
  font-family: "Noto Sans JP";
  background-color: #0097A7;
  color: #FEFEFE;
  border-radius: 3vw;
  font-weight: 400;
  margin: 0 auto;
  font-size: 4.8vw;
  line-height: 1.2;
  padding: 2vw 6vw 2vw 6vw;
}

#cover-caption-sp .cv-button .fa-greater-than {
  font-family: FontAwesome;
  color: #FEFEFE;
  margin-left: 3px;
  font-weight: 300;
}

/* TODO SP版画像の表示サイズ小さい 画像を調整するとハンバガーボタンがずれてしまう。　秒数短めに変更 */
.css-carousel-slider {
  width: 100%;
  /* max-width: 800px */
  /* サイズ設定をする場合はここ(*1) */
  overflow: hidden;
  position: relative;
}
@media (max-width: 767px) {
  .css-carousel-slider {
    width: 50%;
  }
}

.css-carousel-slider img {
  max-width: 1366px;
  height: 768px;
  vertical-align: top;
}
@media (max-width: 767px) {
  .css-carousel-slider img {
    width: 50%;
    height: 350vw;
  }
}

/* スライド設定 */
.css-carousel-slider .slide-wrap {
  width: 300%;
  /* 画像の合計数*100%を設定(*2) */
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  z-index: 0;
  -webkit-animation: css-carousel-slider 20s infinite;
          animation: css-carousel-slider 20s infinite;
  /* スライダーアニメーション全体の時間(*3) */
  -webkit-animation-delay: 30s;
          animation-delay: 30s;
  /* スライダーが始まるまでの時間(*4) */
}

.css-carousel-slider .slide-wrap-main {
  width: 100%;
  z-index: 1;
  -webkit-animation: css-carousel-slider-main 20s infinite;
          animation: css-carousel-slider-main 20s infinite;
  /* (*3)と同じ内容を設定 */
  -webkit-animation-delay: 30s;
          animation-delay: 30s;
  /* (*4)と同じ内容を設定 */
}

.css-carousel-slider .slide {
  width: 100%;
}

@media (min-width: 767px) {
  .display-pc {
    display: none;
  }
}
@media (max-width: 767px) {
  .display-sp {
    display: none;
  }
}
/* スライダーアニメーションの設定(*5) */
@-webkit-keyframes css-carousel-slider {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-33.3333333333%);
  }
  33% {
    transform: translateX(-33.3333333333%);
  }
  58% {
    transform: translateX(-66.6666666667%);
  }
  66% {
    transform: translateX(-66.6666666667%);
  }
  92% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@keyframes css-carousel-slider {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-33.3333333333%);
  }
  33% {
    transform: translateX(-33.3333333333%);
  }
  58% {
    transform: translateX(-66.6666666667%);
  }
  66% {
    transform: translateX(-66.6666666667%);
  }
  92% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
@-webkit-keyframes css-carousel-slider-main {
  0% {
    transform: translateX(100%);
  }
  66% {
    transform: translateX(100%);
  }
  92% {
    transform: translateX(0%);
  }
}
@keyframes css-carousel-slider-main {
  0% {
    transform: translateX(100%);
  }
  66% {
    transform: translateX(100%);
  }
  92% {
    transform: translateX(0%);
  }
}
/* coverここまで */
/* pointここから */
.point {
  margin: 0 auto;
  box-sizing: border-box;
  height: 26.7203513909vw;
  padding: 4.39238653vw 0;
}
@media (max-width: 767px) {
  .point {
    height: 606px;
    padding: 3.3vw;
    margin-top: 31vw;
    height: 161.0666666667vw;
  }
}

.point ul {
  display: flex;
  justify-content: center;
  position: relative;
  gap: 9.9560761347vw;
}
@media screen and (max-width: 767px) {
  .point ul {
    flex-wrap: wrap;
    gap: 8vw 10vw;
  }
}

.point ul li .circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-width: 0.2196193265vw;
  border-color: #0097A7;
  border-style: solid;
  border-radius: 50%;
  width: 11.7130307467vw;
  height: 11.7130307467vw;
  font-size: 1.756954612vw;
  font-family: "Noto Serif JP";
  color: #0097A7;
}
@media (max-width: 767px) {
  .point ul li .circle {
    border-width: 0.8vw;
    border-color: #0097A7;
    border-style: solid;
    border-radius: 50%;
    background-color: #FFFFFF;
    width: 40.2666666667vw;
    height: 40.2666666667vw;
    font-size: 6.3973333333vw;
  }
}

.point ul li .circle-bottom {
  font-family: "Noto Sans JP";
  display: block;
  font-size: 3.513909224vw;
  color: #0097A7;
  font-weight: 400;
  padding-top: 0.5124450952vw;
}
@media (max-width: 767px) {
  .point ul li .circle-bottom {
    font-size: 12.7946666667vw;
  }
}

.point ul li p {
  display: block;
  margin: 0.9516837482vw -0.5124450952vw 0;
  text-align: center;
  font-size: 1.756954612vw;
  color: #000000;
  line-height: 1.7;
  font-weight: 400;
  letter-spacing: 0.0219619327vw;
}
@media (max-width: 767px) {
  .point ul li p {
    font-size: 5.3306666667vw;
    line-height: 1.9;
  }
}

/* pointここまで */
/* contactこから */
#contact {
  background-color: #B5E9EE;
  height: 31.9912152269vw;
  padding: 3.6603221083vw;
}
@media (max-width: 767px) {
  #contact {
    width: 100vw;
    height: 110.4vw;
    margin-top: -13.2vw;
  }
}

#contact h3 {
  text-align: center;
  font-size: 3.513909224vw;
  color: #0097A7;
  line-height: 1.2;
  font-family: "Noto Serif JP";
  font-weight: 700;
}
@media (max-width: 767px) {
  #contact h3 {
    font-size: 9.0666666667vw;
    margin-top: 11vw;
  }
}

#contact .text {
  font-size: 1.7591508053vw;
  color: #000000;
  line-height: 1.2;
}
@media (max-width: 767px) {
  #contact .text {
    font-size: 4.808vw;
    position: relative;
    line-height: 1.5;
  }
}

#contact .fa-square {
  text-shadow: 0.1464128843vw 0.1464128843vw 0.1464128843vw rgba(32, 32, 32, 0.2980392157);
  padding-right: 1.6837481698vw;
  padding-bottom: 1.8301610542vw;
}
@media (max-width: 767px) {
  #contact .fa-square {
    font-size: 4.808vw;
    color: #000000;
    line-height: 1.2;
    text-shadow: 0vw 0.8026666667vw 0vw rgba(32, 32, 32, 0.2980392157);
    margin-right: 4vw;
  }
}

#contact .check {
  margin-left: 30.9663250366vw;
  margin-top: 3.953147877vw;
  font-weight: 300;
  font-size: 1.756954612vw;
  color: #000000;
  line-height: 1.2;
}
@media (max-width: 767px) {
  #contact .check {
    font-size: 5.3333333333vw;
    color: #FEFEFE;
    font-weight: 400;
    line-height: 1.2;
    margin: 15vw 0 15vw 7vw;
  }
}

#contact .cv-button {
  display: block;
  text-align: center;
  margin: 2.4158125915vw auto 0;
  background-color: #0097A7;
  box-shadow: 0.7320644217vw 0.7320644217vw rgba(32, 32, 32, 0.3098039216);
  border-radius: 1.0980966325vw;
  width: 40.8491947291vw;
  height: 5.710102489vw;
  font-size: 2.3426061493vw;
  color: #FEFEFE;
  font-weight: 700;
  padding: 1.2445095168vw 0 0 3.6603221083vw;
}
@media (max-width: 767px) {
  #contact .cv-button {
    border-radius: 4vw;
    box-shadow: 1vw 1vw 1vw 1vw rgba(32, 32, 32, 0.3098039216);
    width: 90.6vw;
    height: 12.7vw;
    margin: 0 auto;
    font-size: 5.3vw;
    line-height: 1.2;
    padding-top: 2vw;
    padding-right: 7vw;
  }
}

#contact .cv-button .fa-greater-than {
  font-family: FontAwesome;
  color: #FEFEFE;
  margin-left: 5px;
}
@media (max-width: 767px) {
  #contact .cv-button .fa-greater-than {
    font-size: 5.3893333333vw;
  }
}

/* contactここまで */
/* featureここから */
.feature h3 {
  text-align: center;
  font-size: 3.513909224vw;
  color: #0097A7;
  line-height: 1.2;
  font-family: "Noto Serif JP";
  font-weight: 700;
  padding-top: 3.6603221083vw;
}
@media (max-width: 767px) {
  .feature h3 {
    font-size: 9.0666666667vw;
    color: #0097A7;
    font-weight: bold;
    line-height: 1.2;
    padding-top: 15vw;
    height: 32vw;
  }
}

/* counselingここから */
.counseling {
  height: 34.4070278184vw;
  text-align: center;
  margin-top: 3.074670571vw;
}
@media (max-width: 767px) {
  .counseling {
    height: 168vw;
  }
}

.counseling .sub-title h4 {
  font-size: 3.513909224vw;
  color: #606060;
  line-height: 1.2;
  font-family: "Noto Serif JP";
  font-weight: 400;
  padding: 0;
}
@media (max-width: 767px) {
  .counseling .sub-title h4 {
    font-size: 12.7946666667vw;
    padding-top: 2vw;
    text-align: center;
  }
}

.counseling .sub-title .sub-title-text {
  font-size: 2.635431918vw;
  color: #606060;
  line-height: 1;
  font-family: "Noto Serif JP";
  font-weight: 400;
  margin-top: 1.6vw;
}
@media (max-width: 767px) {
  .counseling .sub-title .sub-title-text {
    font-size: 8.5306666667vw;
    margin-top: 6vw;
    line-height: 1.2;
  }
}

.table-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 2vw;
  padding: 0 14vw 0 14vw;
}
@media (max-width: 767px) {
  .table-wrapper {
    margin: 0;
    padding: 0;
  }
}

.table-box {
  border-collapse: separate;
  border-spacing: 0.7320644217vw;
  margin: 0;
  border-spacing: 0.8vw;
}
@media (max-width: 767px) {
  .table-box {
    margin-top: 5vw;
    border-spacing: 2.5vw;
  }
}

.table-head {
  border: none;
  border-radius: 0.7320644217vw 0.7320644217vw 0 0;
  background-color: #0097A7;
  width: 69.5461200586vw;
  height: 4.0995607613vw;
  font-size: 2.3426061493vw;
  color: #FFFFFF;
  line-height: 1.2;
  font-weight: 400;
  padding: 0;
}
@media (max-width: 767px) {
  .table-head {
    width: 90vw;
    height: 15vw;
    border-radius: 5vw 5vw 0 0;
    font-size: 4.8vw;
    padding-bottom: 4vw;
  }
}

.row-head {
  border: none;
  background-color: #DDDDDD;
  width: 26vw;
  text-align: center;
  font-size: 1.756954612vw;
  color: #000000;
  line-height: 1.2;
}
@media (max-width: 767px) {
  .row-head {
    height: 28.5333333333vw;
    font-size: 3.2vw;
  }
}

.row-head-bottom {
  border: none;
  background-color: #DDDDDD;
  width: 26vw;
  border-radius: 0 0 0 0.7320644217vw;
  text-align: center;
  font-size: 1.756954612vw;
  color: #000000;
}
@media (max-width: 767px) {
  .row-head-bottom {
    width: 26.9333333333vw;
    border-radius: 0 0 0 5vw;
    font-size: 3.2vw;
  }
}

.table-date {
  border: none;
  background-color: #EEEEEE;
  text-align: left;
  padding: 0 0 0 2.1229868228vw;
  line-height: 1.8;
  width: 61.666667vw;
  height: 5.666667vw;
}
@media (max-width: 767px) {
  .table-date {
    font-size: 3.2vw;
    line-height: 1.5;
    padding: 7.1vw 7vw 4.4vw 9vw;
  }
}

/* TODO テーブルのカンプずれ大きい */
.table-date-bottom {
  border: none;
  background-color: #EEEEEE;
  width: 48.7554904832vw;
  height: 5.270863836vw;
  text-align: left;
  padding: 0 0 0 2.1229868228vw;
  line-height: 1.8;
  border-radius: 0 0 0.7320644217vw 0;
}
@media (max-width: 767px) {
  .table-date-bottom {
    width: 26.9333333333vw;
    font-size: 3.2vw;
    padding: 6vw;
    border-radius: 0 0 5vw 0;
    padding: 3vw 7vw 2vw 9vw;
  }
}

/* counselingここまで */
/* priceここから */
.price {
  text-align: center;
  margin-top: 2.3426061493vw;
  height: 32.9428989751vw;
}
@media (max-width: 767px) {
  .price {
    margin-top: 4vw;
    height: 188.8vw;
  }
}

.price .sub-title h4 {
  font-size: 3.513909224vw;
  color: #606060;
  font-family: "Noto Serif JP";
  font-weight: 400;
}
@media (max-width: 767px) {
  .price .sub-title h4 {
    font-size: 12.8vw;
    text-align: center;
  }
}

.price .sub-title-text {
  font-size: 2.635431918vw;
  color: #606060;
  line-height: 1;
  font-family: "Noto Serif JP";
  font-weight: 400;
  margin-top: 1.4641288433vw;
  /* TODO文字が重なっている */
}
@media (max-width: 767px) {
  .price .sub-title-text {
    font-size: 8.5vw;
    margin-top: 6vw;
    line-height: 1.2;
  }
}

.price .price-box {
  height: 14.6412884334vw;
  -moz-column-gap: 6.588579795vw;
       column-gap: 6.588579795vw;
  text-align: center;
  justify-content: center;
  margin-top: 3.513909224vw;
}
@media (max-width: 767px) {
  .price .price-box {
    width: 92.2666666667vw;
    height: 15.4666666667vw;
    display: block;
    margin: 11vw 3vw 0 3vw;
  }
}

.price-box-title {
  background-color: #0097A7;
  width: 31.5519765739vw;
  height: 4.39238653vw;
  font-size: 2.635431918vw;
  color: #FFFFFF;
  font-weight: 700;
  display: flex;
  justify-content: center;
  flex-direction: column;
}
@media (max-width: 767px) {
  .price-box-title {
    width: 92.2666666667vw;
    height: 15.4666666667vw;
    font-size: 9.5866666667vw;
    line-height: 1.2;
  }
}

.price-box-title-under {
  font-size: 5.8565153734vw;
  color: #0097A7;
  font-weight: 700;
  font-family: "Noto Serif JP";
  text-align: center;
  padding-top: 3.2210834553vw;
}
@media (max-width: 767px) {
  .price-box-title-under {
    font-size: 15.9333333333vw;
    padding: 14vw 0;
  }
}

.price-box-title-under small {
  font-size: 1.756954612vw;
  color: #0097A7;
  font-weight: 700;
}
@media (max-width: 767px) {
  .price-box-title-under small {
    font-size: 6.424vw;
  }
}

.price .message {
  text-align: center;
  padding-top: 1.6105417277vw;
}
@media (max-width: 767px) {
  .price .message {
    padding-top: 102vw;
    font-size: 3.2vw;
  }
}

/* priceここまで */
/* shopここから */
#shop {
  text-align: center;
  margin-top: 3.074670571vw;
  height: 40.2635431918vw;
  margin: 0;
}
@media (max-width: 767px) {
  #shop {
    margin-top: -3vw;
    height: 213.3333333333vw;
  }
}

#shop .sub-title h4 {
  font-size: 3.513909224vw;
  color: #606060;
  font-family: "Noto Serif JP";
  font-weight: 400;
}
@media (max-width: 767px) {
  #shop .sub-title h4 {
    font-size: 12.8vw;
  }
}

#shop .sub-title-text {
  font-size: 2.635431918vw;
  color: #606060;
  line-height: 1;
  font-family: "Noto Serif JP";
  font-weight: 400;
  padding-top: 1.317715959vw;
}
@media (max-width: 767px) {
  #shop .sub-title-text {
    font-size: 8.5333333333vw;
    padding-top: 6vw;
    padding-bottom: 6vw;
    line-height: 1.2;
  }
}

#shop .shop-box {
  justify-content: center;
  -moz-column-gap: 2.196193265vw;
       column-gap: 2.196193265vw;
  height: 27.0863836018vw;
  margin-top: 3.1478770132vw;
}
@media (max-width: 767px) {
  #shop .shop-box {
    display: block;
    margin-top: 4vw;
  }
}

#shop .shop-box img {
  width: 33.7481698389vw;
  height: 18.8140556369vw;
}
@media (max-width: 767px) {
  #shop .shop-box img {
    width: 92.5333333333vw;
    height: 53vw;
  }
}

/* TODO 画像のテキストずれ */
#shop .shop-small-box-text {
  width: 34.0409956076vw;
  padding: 0.6588579795vw 1.9033674963vw 1.9033674963vw 2.1229868228vw;
  color: #000000;
  line-height: 1.7;
  text-align: left;
  margin: 0;
}
@media (max-width: 767px) {
  #shop .shop-small-box-text {
    font-size: 3.2vw;
    padding: 0;
    width: 84vw;
    margin: 4vw 10vw 5vw 9vw;
  }
}

/* shopここまで */
/* 画像のふわっと表現 */
.scroll_up {
  transition: 3s ease-in-out;
  transform: translateY(30px);
  opacity: 0;
}

.scroll_up.on {
  transform: translateY(0);
  opacity: 1;
}

/* 画像のふわっと表現 */
/* accessここから */
#access {
  text-align: center;
  height: 49.7803806735vw;
  margin: 0;
}
@media (max-width: 767px) {
  #access {
    height: 138.6666666667vw;
    margin: -2vw;
  }
}

#access .sub-title h4 {
  font-size: 3.513909224vw;
  color: #606060;
  font-family: "Noto Serif JP";
  font-weight: 400;
  padding: 0;
}
@media (max-width: 767px) {
  #access .sub-title h4 {
    font-size: 12.8vw;
    line-height: 1.2;
    padding-top: 3vw;
  }
}

#access .sub-title-text {
  font-size: 2.635431918vw;
  color: #606060;
  line-height: 1;
  font-family: "Noto Serif JP";
  font-weight: 400;
  padding-top: 1.4641288433vw;
}
@media (max-width: 767px) {
  #access .sub-title-text {
    font-size: 8.5vw;
    line-height: 1.5;
    padding-top: 2.8vw;
  }
}

#access-map {
  margin: 0 auto;
  max-width: 100%;
  margin-top: 3.2942898975vw;
  height: 35.4319180088vw;
  overflow: hidden;
}
@media (max-width: 767px) {
  #access-map {
    width: 93.8666666667vw;
    height: 66.9333333333vw;
  }
}

/* TODO JR東京駅のレイアウトPC版がずれている */
#access-address {
  padding-top: 1.317715959vw;
  padding: 0;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 767px) {
  #access-address {
    font-size: 3.2vw;
    text-align: center;
    font-size: 3vw;
    text-align: center;
    padding: 10vw 12vw 4vw 11vw;
    line-height: 1.6;
  }
}

/* accessここまで */
/* time-tableここから */
#time-table {
  text-align: center;
  height: 14.6412884334vw;
  margin-top: 0.9516837482vw;
  margin-bottom: 3.392387vw;
}
@media (max-width: 767px) {
  #time-table {
    height: 54.6666666667vw;
    margin-top: 6vw;
    margin-bottom: 0;
  }
}

#time-table .time-table-address {
  font-size: 1.756954612vw;
  text-align: center;
  padding-left: 2.3426061493vw;
}
@media (max-width: 767px) {
  #time-table .time-table-address {
    font-size: 4.8vw;
    line-height: 1.5;
  }
}

.biz-hour {
  width: 69.5461200586vw;
  height: 7.3938506589vw;
  margin: 0 auto;
  border-collapse: collapse;
  margin-top: 1.9033674963vw;
}
@media (max-width: 767px) {
  .biz-hour {
    width: 92vw;
    height: 18vw;
    margin-top: 7vw;
  }
}

.biz-hour td {
  font-size: 1.756954612vw;
  padding: 0.5124450952vw;
  text-align: center;
  border-bottom: 2px solid #606060;
}
@media (max-width: 767px) {
  .biz-hour td {
    font-size: 3.184vw;
  }
}

.biz .th1 {
  padding-left: 2.196193265vw;
}

.biz-hour th {
  font-weight: normal;
  background-color: #0097A7;
  width: 69.5461200586vw;
  height: 2.9282576867vw;
  font-size: 1.756954612vw;
  color: #FFFFFF;
}
@media (max-width: 767px) {
  .biz-hour th {
    font-size: 3.184vw;
    height: 6vw;
  }
}

/* time-tableここまで */
/* #contact-two ここから */
#contact-two {
  background-color: #B5E9EE;
  height: 31.9912152269vw;
  margin-top: 0;
}
@media (max-width: 767px) {
  #contact-two {
    width: 100vw;
    height: 110.4vw;
  }
}

#contact-two h3 {
  text-align: center;
  font-size: 3.513909224vw;
  color: #0097A7;
  font-family: "Noto Serif JP";
  font-weight: 700;
  margin-top: 0;
}
@media (max-width: 767px) {
  #contact-two h3 {
    font-size: 9.0666666667vw;
  }
}

#contact-two .text {
  font-size: 1.756954612vw;
  color: #000000;
  margin: 0;
}
@media (max-width: 767px) {
  #contact-two .text {
    font-size: 4.808vw;
    position: relative;
    line-height: 1.5;
    margin: 5vw 0 0vw 4vw;
  }
}

#contact-two .fa-square {
  text-shadow: 0.1464128843vw 0.1464128843vw 0.1464128843vw rgba(32, 32, 32, 0.2980392157);
  padding-right: 1.6837481698vw;
  padding-bottom: 1.8301610542vw;
}
@media (max-width: 767px) {
  #contact-two .fa-square {
    font-size: 4.808vw;
    color: #000000;
    line-height: 1.2;
    text-shadow: 0vw 0.8026666667vw 0vw rgba(32, 32, 32, 0.2980392157);
    margin-right: 4vw;
  }
}

#contact-two .check {
  margin-left: 34.4070278184vw;
  margin-top: 3.953147877vw;
  font-weight: 300;
  font-size: 1.756954612vw;
  color: #000000;
}
@media (max-width: 767px) {
  #contact-two .check {
    font-size: 5.3333333333vw;
    color: #FEFEFE;
    font-weight: 400;
    line-height: 1.2;
    margin: 15vw 0 15vw 7vw;
  }
}

#contact-two .cv-button {
  display: block;
  text-align: center;
  margin: 2.4158125915vw auto 0;
  background-color: #0097A7;
  box-shadow: 0.7320644217vw 0.7320644217vw rgba(32, 32, 32, 0.3098039216);
  border-radius: 1.0980966325vw;
  width: 40.8491947291vw;
  height: 5.710102489vw;
  font-size: 2.3426061493vw;
  color: #FEFEFE;
  font-weight: 700;
  line-height: 1.2;
  padding: 1.2445095168vw 0 0 3.6603221083vw;
}
@media (max-width: 767px) {
  #contact-two .cv-button {
    border-radius: 4vw;
    box-shadow: 1vw 1vw 1vw 1vw rgba(32, 32, 32, 0.3098039216);
    width: 90.6vw;
    height: 12.7vw;
    margin: 0 auto;
    font-size: 5.3vw;
    line-height: 1.2;
    padding-top: 2vw;
    padding-right: 7vw;
  }
}

#contact-two .cv-button .fa-greater-than {
  font-family: FontAwesome;
  color: #FEFEFE;
  margin-left: 5px;
}
@media (max-width: 767px) {
  #contact-two .cv-button .fa-greater-than {
    font-size: 5.3893333333vw;
  }
}

/*.contact-twoここまで */
/*  qaここから */
.qa {
  height: 60.3953147877vw;
  padding: 0;
}
@media (max-width: 767px) {
  .qa {
    height: 266.6666666667vw;
    padding-top: 2.5rem;
  }
}

.qa .sub-title h4 {
  padding-top: 3.4407027818vw;
  text-align: center;
  font-size: 3.513909224vw;
  color: #0097A7;
  font-family: "Noto Serif JP";
  font-weight: 700;
}
@media (max-width: 767px) {
  .qa .sub-title h4 {
    font-size: 9.0666666667vw;
  }
}

.qa-box {
  width: 83.1625183016vw;
  margin: 0 auto;
  padding: 0 6.8081991215vw;
  overflow: hidden;
}
@media (max-width: 767px) {
  .qa-box {
    width: 93.3333333333vw;
    padding: 0;
  }
}

.qa dl {
  background: #fff;
}

/* TODOアコーディオン閉じた状態の間隔が異なる */
@media screen and (max-width: 767px) {
  .qa dl {
    margin: 3.5vw 0.3vw 0 0.3vw;
  }
  .qa dl:first-of-type {
    margin-top: 14vw;
  }
}
.qa dl dt {
  margin-top: 4.1727672035vw;
  padding: 0.1464128843vw 2.7818448023vw 1.2445095168vw;
  border-bottom: #0097A7 0.1464128843vw solid;
  font-weight: 500;
  position: relative;
  font-size: 1.317715959vw;
  color: #0097A7;
}
@media (max-width: 767px) {
  .qa dl dt {
    font-size: 4.2666666667vw;
    padding: 0 12vw 3vw 5vw;
    line-height: 1.3;
  }
}

.qa dl dd {
  margin-top: 0.0732064422vw;
  padding: 1.0980966325vw 2.7818448023vw 1.4641288433vw;
  border-bottom: #0097A7 0.1464128843vw solid;
  font-weight: 500;
  position: relative;
  font-size: 1.317715959vw;
  color: #0097A7;
  width: 90%;
}
@media (max-width: 767px) {
  .qa dl dd {
    font-size: 4.2666666667vw;
    padding-bottom: 5vw;
    line-height: 1.3;
    padding: 0 0 3vw 5vw;
  }
}

.qa dl dd {
  color: #000000;
}

.qa dl dt::before,
.qa dl dd::before {
  content: "Q.";
  display: inline-block;
  text-indent: -2.9282576867vw;
  font-family: "Noto Serif JP";
  font-size: 1.756954612vw;
  color: #0097A7;
  font-weight: 700;
  margin: 0;
}
@media (max-width: 767px) {
  .qa dl dt::before,
.qa dl dd::before {
    font-size: 6.4vw;
    margin-left: -5vw;
    margin-right: 3vw;
  }
}

@media screen and (max-width: 767px) {
  .qa dl dt::before,
.qa dl dd::before {
    text-indent: 0;
  }
}
.qa dl dt {
  cursor: pointer;
}

.qa dl dt::after {
  content: "＋";
  text-align: center;
  font-weight: 900;
  font-size: 1.756954612vw;
  color: #FFFFFF;
  position: absolute;
  right: 0.0732064422vw;
  top: 50%;
  transform: translateY(-50%);
  background-color: #0097A7;
  width: 2.4158125915vw;
  height: 2.4158125915vw;
}
@media (max-width: 767px) {
  .qa dl dt::after {
    font-size: 6.4vw;
    width: 9.6vw;
    height: 9.8666666667vw;
    font-weight: 700;
  }
}

@media screen and (max-width: 767px) {
  .qa dl dt::after {
    right: 0.5vw;
    font-size: 1.4rem;
  }
}
.qa dl dd {
  padding-bottom: 0.7320644217vw;
  border: none;
  display: none;
}

@media screen and (max-width: 767px) {
  .qa dl dd {
    padding-bottom: 0.7rem;
  }
}
.qa dl dd::before {
  content: "A.";
}

.qa dl.open dt::after {
  content: "ー";
}

.qa dl dd :nth-child(3n) {
  padding-top: 70vw;
}

/* qaここまで */
/*contact-threeここから */
#contact-three {
  background-color: #B5E9EE;
  height: 31.9912152269vw;
}

#contact-three h3 {
  text-align: center;
  font-size: 3.513909224vw;
  color: #0097A7;
  font-family: "Noto Serif JP";
  font-weight: 700;
}

#contact-three .text {
  font-size: 1.756954612vw;
  color: #000000;
}

#contact-three .far {
  padding-right: 1.6837481698vw;
  padding-bottom: 1.6837481698vw;
}
#contact-three .far .contact .far {
  text-shadow: 0.1464128843vw 0.1464128843vw 0.1464128843vw rgba(32, 32, 32, 0.2980392157);
  padding-right: 1.6837481698vw;
  padding-bottom: 1.8301610542vw;
}

#contact-three .check {
  margin-left: 34.4070278184vw;
  margin-top: 3.953147877vw;
  font-weight: 300;
  font-size: 1.756954612vw;
  color: #000000;
}

#contact-three .cv-button {
  display: block;
  text-align: center;
  margin: 2.4158125915vw auto 0;
  background-color: #0097A7;
  box-shadow: 0.7320644217vw 0.7320644217vw rgba(32, 32, 32, 0.3098039216);
  border-radius: 1.0980966325vw;
  width: 40.8491947291vw;
  height: 5.710102489vw;
  font-size: 2.3426061493vw;
  color: #FEFEFE;
  font-weight: 700;
  line-height: 1.2;
  padding: 1.2445095168vw 0 0 3.6603221083vw;
}

.contact .cv-button .far {
  font-family: FontAwesome;
  color: #FEFEFE;
  margin-left: 5px;
}

/* contact-3ndここまで */
/* footerここから */
.footer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer-logo {
  width: 32.7232796486vw;
  height: 2.9282576867vw;
}

.footer-copyright {
  font-size: 0.878477306vw;
}/*# sourceMappingURL=style.css.map */