ul,
ol {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}

*,
::before ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Noto Sans JP;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
  line-height: 1.2;
  background-color: #ffffff;
}

img {
  max-width: 100%;
}

.flex {
  display: flex;
}

.no-pc {
  display: none;
}


.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: #ffffff;
  height: 50px;
  z-index: 10;
  width: 1366px;
  height: 80px;
}

.header-inner {
  max-width: 1366px;
  height: 80px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 108px;
  padding-right: 99px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.702;
}

.toggle-menu-button {
  display: none;
}

.header-logo {
  display: block;
  width: 208px;
  height: 18px;
  text-align: center;
}

.site-menu ul {
  display: flex;
}

.site-menu ul li {
  margin-left: 20px;
  margin-right: 20px;
}

.site-menu ul li a {
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
}

.cover {
  max-width: 1366px;
  padding: 0;
  position: relative;
  background-color: #FFFFFF;
  width: 1366px;
  height: 768px;
}

.cover h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0 17px 70px 110px;
  font-family: Noto Serif JP;
  font-weight: 400;
  font-size: 36px;
  color: #000000;
  line-height: 1.7;
  font-weight: 400;
  z-index: 10;
}

.point {
  max-width: 1366px;
  box-sizing: border-box;
  height: 365px;
  padding: 60px 0;
}

.point ul {
  display: flex;
  justify-content: center;
  position: relative;
  gap: 140px;
}

.point ul li .circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  border-width: p;
  border-color: #0097A7;
  border-style: solid;
  border-radius: 50%;
  width: 154px;
  height: 154px;
  font-size: 24px;
  font-family: Noto Serif JP;
  color: #0097A7;
}

.point ul li .circle b {
  display: block;
  font-size: 48px;
  color: #0097A7;
  line-height: 1.2;
  font-weight: 400;
  font-family: 'Noto Sans JP';
}

.point ul li p {
  display: block;
  margin: 21px 0 0;
  text-align: center;
  font-size: 24px;
  color: #000000;
  line-height: 1.5;
  font-weight: 300;
  font-family: Noto Sans JP;
  letter-spacing: 0.3px;
}

.contact {
  background-color: #B5E9EE;
  max-width: 1366px;
  height: 437px;
  padding: 50px;
}

.contact h3 {
  text-align: center;
  font-size: 48px;
  color: #0097A7;
  font-weight: bold;
  line-height: 1.2;
  font-family: Noto Serif JP;
  font-weight: 700;
}

.contact .text {
  font-size: 24.03px;
  color: #000000;
  line-height: 1.2;
}

.contact .far {
  text-shadow: 0px 3px 0px #2020204C;
  padding-left: 3px;
}


.contact .check {
  margin-left: 464px;
  margin-top: 46px;
  font-family: Noto Sans JP;
  font-weight: 300;
  font-size: 24px;
  color: #000000;
  line-height: 2;
}

.cv-button {
  display: block;
  text-align: center;
  align-items: center;
  margin: 4.1rem auto 0;
  line-height: 1;
  background-color: #0097A7;
  box-shadow: 0px 10px 0px 0px #2020204F;
  border-radius: 15px;
  font-family: Noto Sans JP;
  width: 558px;
  height: 78px;
  font-size: 32px;
  color: #FEFEFE;
  font-weight: 700;
  line-height: 1.2;
}

.cv-button .far {
  color: #FEFEFE;
}

.feature-header h3 {
  width: 1366px;
  height: 110px;
  text-align: center;
  font-size: 48px;
  color: #0097A7;
  line-height: 1.2;
  font-family: Noto Serif JP;
  font-weight: 700;
  padding-top: 50px;
}

.counseling {
  width: 1366px;
  height: 470px;
  text-align: center;
}

.counseling .sub-title h4 {
  font-size: 48px;
  color: #606060;
  line-height: 1.2;
  font-family: Noto Serif JP;
  font-weight: 400;
}

.counseling .sub-title .sub-title-text {
  font-size: 36px;
  color: #606060;
  line-height: 1;
  font-family: Noto Serif JP;
  font-weight: 400;
}

.marker {
  background: linear-gradient(transparent 50%, #B5E9EE 50%);
}

.table-wrapper {
  display: flex;
  justify-content: center;
}

.table-head {
  border: none;
  border-radius: 10px 10px 0 0;
  background-color: #0097A7;
  width: 950px;
  height: 56px;
  font-size: 32px;
  color: #FFFFFF;
  line-height: 1.2;
  font-family: Noto Sans JP;
  font-weight: 400;
}

.row-head {
  border: none;
  background-color: #DDDDDD;
  width: 274px;
  height: 72px;
  text-align: center;
  font-size: 24px;
  color: #000000;
  line-height: 1.2;
}

.row-head-bottom {
  border: none;
  background-color: #DDDDDD;
  width: 274px;
  height: 72px;
  border-radius: 0 0 0 10px;
  text-align: center;
  font-size: 24px;
  color: #000000;
  line-height: 1.2;
}

.table-date {
  border: none;
  background-color: #EEEEEE;
  width: 666px;
  height: 72px;
  justify-content: start;
  text-align: left;
  padding-left: 1.5rem;
}

.table-date-bottom {
  border: none;
  background-color: #EEEEEE;
  width: 666px;
  height: 72px;
  border-radius: 0 0 10px;
  text-align: left;
  padding-left: 1.5rem;
}

.price {
  max-width: 1366px;
  height: 400px;
  text-align: center;
}

.price .sub-title h4 {
  font-size: 48px;
  color: #606060;
  line-height: 1.2;
  font-family: Noto Serif JP;
  font-weight: 400;
}

.price .sub-title-text {
  font-size: 36px;
  color: #606060;
  line-height: 1;
  font-family: Noto Serif JP;
  font-weight: 400;
}

.price .price-box {
  height: 200px;
  column-gap: 90px;
  text-align: center;
  justify-content: center;
}

.price-box-title {
  background-color: #0097A7;
  width: 431px;
  height: 60px;
  font-size: 36px;
  color: #FFFFFF;
  font-family: Noto Sans JP;
  font-weight: 700;
  line-height: 1.2;
  text-align: center;
  padding-top: 0.4rem;
}

.price-box-title-under {
  font-size: 80px;
  color: #0097A7;
  font-weight: 700;
  line-height: 1.2;
  font-family: Noto Serif JP;
  text-align: center;
  padding-top: 55px;
}

.price-box-title-under small {
  font-size: 24px;
  color: #0097A7;
  font-weight: 700;
  line-height: 1.2;
}

.price .message {
  text-align: center;
  padding-top: 10px;
}

.shop {
  max-width: 1366px;
  height: 400px;
  text-align: center;
}

.shop .sub-title h4 {
  font-size: 48px;
  color: #606060;
  line-height: 1.2;
  font-family: Noto Serif JP;
  font-weight: 400;
}

.shop .sub-title-text {
  font-size: 36px;
  color: #606060;
  line-height: 1;
  font-family: Noto Serif JP;
  font-weight: 400;
}

.shop-box {
  justify-content: center;
  column-gap: 30px;
  height: 370px;
}

.shop-box img {
  width: 461px;
  height: 306px;
}

.shop-small-box-text {
  width: 465px;
  padding: 15px 25px;
  font-size: 16px;
  color: #000000;
  line-height: 1.2;
  justify-content: flex-start;
}

.time-table-box {
  align-items: center;
}

.time-table {
  width: 950px;
  height: 40px;
}

.biz-hour {
  display: block;
  border-collapse: collapse;
  overflow-x: scroll;
}

.biz-hour td {
  padding: 10px;
  text-align: center;
  border-bottom: 2px solid #0097A7;
}

/* 最上段の表の見出し。background-colorを書き換えれば背景色が変わります。 */
.biz-hour th {
  font-weight: normal;
  background-color: #0097A7;
  width: 950px;
  height: 40px;
  font-size: 24px;
  color: #FFFFFF;
  line-height: 1.2;
}

.qa {
  padding-top: 6rem;
  padding-bottom: 9rem;
}

.qa-box {
  width: 100%;
  max-width: 1136px;
  margin: 0 auto;
  padding: 0 1.6rem;
  overflow: hidden;
}

@media screen and (max-width: 767px) {
  .qa {
    padding-top: 2.5rem;
    padding-bottom: 4.8rem;
  }
}

.qa dl {
  background: #fff;
  margin: 4rem 0 0;
}

@media screen and (max-width: 767px) {
  .qa dl {
    margin: 1.1rem 1.95rem 0;
  }

  .qa dl:first-of-type {
    margin-top: 1.5rem;
  }
}

.qa dl dt,
.qa dl dd {
  padding: 2.55rem 7.5rem 2.15rem 8rem;
  border-bottom: #0097A7 2px solid;
  font-weight: 500;
  position: relative;
  font-size: 18px;
  color: #0097A7;
  line-height: 1.2;
}

.qa dl dd {
  color: #000000;
}


@media screen and (max-width: 767px) {

  .qa dl dt,
  .qa dl dd {
    padding: .8rem 3.1rem .6rem 3.1rem;
    font-size: 1.4rem;
    line-height: calc(16 / 14);
    border-bottom: #0097A7 2px solid;
  }
}

.qa dl dt::before,
.qa dl dd::before {
  content: "Q.";
  display: inline-block;
  text-indent: -4.2rem;
  font-family: Noto Serif JP;
  font-size: 24px;
  color: #0097A7;
  font-weight: bold;
  line-height: 1.2;
}

@media screen and (max-width: 767px) {

  .qa dl dt::before,
  .qa dl dd::before {
    text-indent: -2.5rem;
  }
}

.qa dl dt {
  cursor: pointer;
}

.qa dl dt:hover {
  opacity: 0.5;
}

.qa dl dt::after {
  content: "＋";
  width: 2px;
  height: 19px;
  font-weight: 900;
  font-size: 18px;
  color: #FFFFFF;
  position: absolute;
  right: 3.4rem;
  top: 50%;
  transform: translateY(-50%);
  background-color: #0097A7;
  width: 36px;
  height: 36px;
}

@media screen and (max-width: 767px) {
  .qa dl dt::after {
    right: 1rem;
    font-size: 1.4rem;
  }
}

.qa dl dd {
  padding-bottom: 2.35rem;
  border: none;
  display: none;
}

@media screen and (max-width: 767px) {
  .qa dl dd {
    padding-bottom: .7rem;
  }
}

.qa dl dd::before {
  content: "A.";
}

.qa dl.open dt::after {
  content: 'ー';
}



@media (max-width: 767px) {
  .no-sp {
    display: none;
  }

  .site-menu ul {
    display: block;
    text-align: left;
  }

  .site-menu li {
    margin-top: 20px;
  }

  .header {
    max-width: 375vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #ffffff;
    height: 50px;
    z-index: 10;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    opacity: 0.702;
  }

  .header-inner {
    padding-left: 20px;
    padding-right: 20px;
    height: 100%;
    position: relative;
  }

  .header-logo {
    width: 100px;
  }

  .header-site-menu {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    color: #000;
    background-color: #ffffff;
    padding-top: 30px;
    padding-bottom: 50px;
    display: none;
  }

  .header-site-menu.is-show {
    display: block;
  }

  .toggle-menu-button {
    display: block;
    width: 44px;
    height: 34px;
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    border-radius: 0;
    outline: none;
  }

  .point {
    padding: 4.3rem 1.8rem 4.2rem;
  }

  .point ul {
    gap: 2.9rem;
  }

  .point ul li p {
    font-size: 1.7rem;
    line-height: calc(31 / 17);
    margin: 1.6rem 0 -.7rem;
  }

  table {
    width: 90%;
  }

  td,
  th {
    display: block;
    /* ブロック要素に変更 */
  }

  th {
    border: 0px;
  }

  .row-head {
    border-bottom: 0px;
    border-right: 0px;
  }

  .table-date {
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    border-bottom: 1px dashed blue;
  }

  .table-date:last-of-type {
    border-bottom: 0px;
  }
}

/* ここからテスト */
/* https://mirailog.jp/css-only-carousel-slider */
.css-carousel-slider {
  width: 100%;
  /* max-width: 800px */
  /* サイズ設定をする場合はここ(*1) */
  overflow: hidden;
  position: relative;
}

.css-carousel-slider img {
  width: 100%;
  height: auto;
  vertical-align: top;
}

/* スライド設定 */
.css-carousel-slider .slide-wrap {
  width: 300%;
  /* 画像の合計数*100%を設定(*2) */
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  z-index: 0;
  animation: css-carousel-slider 20s infinite;
  /* スライダーアニメーション全体の時間(*3) */
  animation-delay: 2s;
  /* スライダーが始まるまでの時間(*4) */
}

.css-carousel-slider .slide-wrap-main {
  width: 100%;
  z-index: 1;
  animation: css-carousel-slider-main 20s infinite;
  /* (*3)と同じ内容を設定 */
  animation-delay: 2s;
  /* (*4)と同じ内容を設定 */
}

.css-carousel-slider .slide {
  width: 100%;
}

/* スライダーアニメーションの設定(*5) */
@keyframes css-carousel-slider {
  0% {
    transform: translateX(0);
  }

  25% {
    transform: translateX(calc(1 / 3 * -100%));
  }

  33% {
    transform: translateX(calc(1 / 3 * -100%));
  }

  58% {
    transform: translateX(calc(2 / 3 * -100%));
  }

  66% {
    transform: translateX(calc(2 / 3 * -100%));
  }

  92% {
    transform: translateX(calc(3 / 3 * -100%));
  }

  100% {
    transform: translateX(calc(3 / 3 * -100%));
  }
}

@keyframes css-carousel-slider-main {
  0% {
    transform: translateX(100%);
  }

  66% {
    transform: translateX(100%);
  }

  92% {
    transform: translateX(0%);
  }
}


/* 画像のふわっと表現 */
.scroll_up {
  transition: 1.2s ease-in-out;
  transform: translateY(30px);
  opacity: 0;
}

.scroll_up.on {
  transform: translateY(0);
  opacity: 1.0;
}